<%- include("partials/header.ejs") %>

<h1>Hello, my name is Anhelina</h1>
<h2>Glad to see you on my website</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales dui at
    hendrerit convallis. Pellentesque ante ante, viverra non lacinia ut, placerat eget 
    nisi. Morbi ultrices viverra neque at sagittis. Cras pretium iaculis faucibus.
</p>

<h3>My interests:</h3>
<ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
</ul>

<%- include("partials/footer.ejs") %>