<%- include("partials/header.ejs") %>

<div>
  <h1 class="margin-title gothic-text">Hello, my name is Anhelina</h1>
  <h2 class="margin-small-title gothic-text">Glad to see you on my website</h2>
  <p class="margin-text quicksand-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales
    dui at hendrerit convallis. Pellentesque ante ante, viverra non lacinia ut,
    placerat eget nisi. Morbi ultrices viverra neque at sagittis. Cras pretium
    iaculis faucibus.
  </p>

  <h3 class="margin-tiny-title quicksand-text">My interests:</h3>
  <ul class="margin-text quicksand-text">
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>
</div>

<%- include("partials/footer.ejs") %>
