<%- include("partials/header.ejs") %>

<div>
  <div class="flex-container">
    <img class="logo-img" src="img/canva-logo.jpg" />
    <h1 class="margin-title gothic-text">Hi, you`re visiting My Blog!</h1>
  </div>

  <h2 class="margin-small-title gothic-text">Hope you will find it interesting :)</h2>

  <h3 class="quicksand-text">What we write about:</h3>
  <ul class="quicksand-text">
    <li>Programming journey</li>
    <li>Projects showcase</li>
    <li>Guides & tutorials</li>
    <li>Tech reviews</li>
  </ul>

  <h3 class="margin-tiny-title quicksand-text">Recent posts:</h3>
  <ul class="margin-text quicksand-text list-posts">
    <% if(locals.posts) {%> <% for(let i = 0; i < posts.length && i < 3; ++i) {
    %>
    <li class="list-post-cell">
      <a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a>
    </li>
    <% } %> <% } %>
  </ul>
</div>
<%- include("partials/footer.ejs") %>
