<%- include("partials/header.ejs") %>

<h1>Posts</h1>

<% if(locals.posts) {%>
    <% if(posts.length === 0) { %>
        <p>There is no posts yet :(</p>
    <% } else { %>
        <% for(let i = 0; i < posts.length; ++i) { %>
        <p>
            <a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a>
        </p>
        <% } %>
    <% } %>
<% } %>



<%- include("partials/footer.ejs") %>