<%- include("partials/header.ejs") %>

<div>
<% if(locals.post) { %>

    <h1 class="margin-title gothic-text"><%= post.title %></h1>
    <p class="margin-text quicksand-text"><%= post.content %></p>

<% } %>
</div>


<%- include("partials/footer.ejs") %>