html{
    background-color: #F3F3E0;
}

.header, .header-links-list{
    display: flex;
    gap: 1.5rem;

    color: #133E87;
}

.header-links{
    color: #F3F3E0;
}

.header{
    background-color: #133E87;
    color: #F3F3E0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



body{
    margin: 0;
}

a {
  text-decoration: none;
}

h1{
    color: #608BC1;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}



.header > ul {
    list-style-type: none;
    padding-inline-start: 0;
}